<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <!-- Vue JS development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <p>{{ question }}</p>
        <div v-if="count < noOfQns" >
            Reply: <input type="text" v-model="reply">
        </div>
        <p>{{ prompt }}</p>
        <button v-if="count < noOfQns" v-on:click="handleReply">Reply</button>
        <div v-if="count >= noOfQns" >
            <div v-for="response in responses">
                <p style="font-weight: 600;">{{response.question}}</p>
                <p>{{response.answer}}</p>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="application.js"></script>
</html>